p {
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.span-5 {
    font-size: 20px;
    color: rgb(8, 61, 151);
    white-space: nowrap;
    font-weight: bold;
}

.span-6 {
    color: rgb(85, 85, 85);
    font-family: "segoe ui", tahoma, helvetica, sans-serif;
    font-size: 13px;
    display: block;
}

.content-1 {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.content {
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    max-height: 650px;
    overflow-y: auto;
}

.tab {
    border: 1px solid #ddd;
    border-top: none;
}

h4 {
    width: 500px;
    text-align: left;
}

li {
    width: 100%;
    text-align: left;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

